.p-sketch-outline
  h2.p-sketch-outline__title
    |#{pageTitle}
  p.p-sketch-outline__date
    |posted: #{pagePosted} 
    if (pageUpdate)
      |/ update: #{pageUpdate}
  p.p-sketch-outline__description
    |#{pageDescription}
  if page && (page.assets && page.assets.length > 0)
    dl.p-sketch-outline__assets
      dt
        |Assets:
      dd 
        ul
          each item in page.assets
            li
              +textLink(item.link,item.name, '_blank')
