.p-website-outline
  h1.p-website-outline__title
    +textLink("../", "sketch of three.js")
  p.p-website-outline__description
    |created by 
    +textLink("https://anchor.fm/stre", "H4ck3rm1k3.", "_blank")
  .p-website-outline__links
    a(href="https://github.com/jmikedupont2/sketch-threejs", target="_blank").p-website-outline__link
      +iconGitHub(24)

