block vars

include ../_mixin/_common.pug
include ../_mixin/_svg.pug

doctype html
html(lang="ja")
  head
    include ../_layout/_head.pug
  body
    .l-page(
      class = (pageColor == "white") ? 'l-page--white' : 'l-page--black',
      data-id = pageId
    )
      block content
      - if (pageId !== 'index')
        .p-utility-menu
          a.c-button(
            href = "/sketch-threejs/",
            class = (pageColor == "white") ? 'c-button--white' : 'c-button--black',
            )
            span.c-button__icon.c-button__icon--back(
              class = (pageColor == "white") ? 'c-button__icon--white' : 'c-button__icon--black'
              )
            span.c-button__label
              +splitStr('back', 'js-split-str')
    block scripts
    script(src="/sketch-threejs/js/main.js")
